@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables */
:root {
  --neutral-900: #fff;
  --rgba-purple: rgba(25, 0, 139, 0.97);
  --rgba-black: rgba(23, 23, 24, 0.96);
}

/* Reset default styles for all elements */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define utility classes */
@layer utilities {
  /* Gradient background utility class */
  .gradient-dark {
    background: linear-gradient(
      to right,
      var(--rgba-purple),
      var(--rgba-black)
    );
  }

  /* Margin-bottom utility class for spacing */
  .margin-bottom {
    @apply mb-20;
    @apply lg:mb-52;
  }

  /* Define styles for a grid container */
  .main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5em;
    place-items: center;
  }

  /* Header styles */
  .btn-whitepaper:hover svg stop {
    stop-color: #f97316;
    transition: stopColor 0.3s ease-in-out;
  }

  .article-title {
    @apply text-3xl font-bold leading-snug uppercase lg:text-5xl;
    position: relative;
  }

  .article-title:after {
    @apply h-1 rounded-full gradient-b-border b-glow;
    content: "";
    position: absolute;
    width: 27%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -25%;
  }

  /* Gradient border styles */
  .gradient-b-border {
    background: linear-gradient(to left, #7f00ff, #e100ff);
  }

  /* Glow effect */
  .b-glow {
    filter: drop-shadow(0px 0px 10.26px #c301ff)
      drop-shadow(0px 0px 71.82px #c301ff) drop-shadow(0px 0px 123.12px #c301ff)
      drop-shadow(0px 0px 215.46px #c301ff);
  }

  /* Core feature background styles */
  .core-feature-bg {
    border-radius: 3.125rem;
    background: linear-gradient(
      135deg,
      rgba(23, 23, 24, 0.99) 0%,
      rgba(25, 0, 139, 0.85) 100%
    );
    box-shadow: 17px 2px 10px 1px rgba(0, 0, 0, 0.25);
  }

  /* Card background gradient styles */
  .card-bg-gradient {
    @apply rounded-3xl;
    background: linear-gradient(
      130deg,
      #d725fa4d 20%,
      #33d1bbb3 99.99%,
      #2dd8b9b3 100%,
      #2dd8b954 100%
    );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  /* Gradient from left utility class */
  .bg-gradient-left {
    background: linear-gradient(
      to left,
      #d725fa4d 20%,
      #33d1bbb3 99.99%,
      #2dd8b9b3 100%,
      #2dd8b954 100%
    );
  }

  /* Subtitle styles */
  .article-subtitle {
    @apply text-2xl font-bold leading-snug uppercase lg:text-4xl;
  }
}

/* Global styles for images and SVGs */
img,
svg {
  width: 100%;
  max-width: 100%;
}

/* Body styles */
body {
  background: linear-gradient(to right, var(--rgba-black), var(--rgba-purple));
  color: var(--neutral-900);
  line-height: 1.6;
  overflow-x: hidden;
  width: 100vw;
}

/* Testimonials section styles */
.testimonial-container {
  border-radius: 2.24206rem;
  background: linear-gradient(
    136deg,
    rgba(254, 248, 255, 0.21) 0%,
    rgba(254, 248, 255, 0) 100%
  );
  backdrop-filter: blur(57.87820816040039px);
}

.testimonial-card {
  border-radius: 2.38944rem;
  background: url("/assets/img/Rectangle.png"),
    lightgray 0% 0% / 76.46239399909973px 76.46239399909973px repeat;
  background-blend-mode: multiply;
}

/* Card styles */
.card {
  border-radius: 2.24206rem;
  background: linear-gradient(
    136deg,
    rgba(254, 248, 255, 0.21) 0%,
    rgba(254, 248, 255, 0) 100%
  );
  box-shadow: 8.968255043029785px 8.968255043029785px 39.76044464111328px 0px
      rgba(24, 19, 19, 0.16) inset,
    -8.968255043029785px -8.968255043029785px 24.467966079711914px 0px
      rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(57.87820816040039px);

  /* Additional background gradient */
  background: linear-gradient(to left, #fef8ff36, #fef8ff00);
}
