@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-900: #fff;
  --rgba-purple: rgba(25, 0, 139, 0.97);
  --rgba-black: rgba(23, 23, 24, 0.96);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .gradient-dark {
    background: linear-gradient(to left, var(--rgba-purple), var(--rgba-black));
  }
}

img,
svg {
  width: 100%;
  max-width: 100%;
}
body {
  background: linear-gradient(to right, var(--rgba-black), var(--rgba-purple));
  color: var(--neutral-900);
  line-height: 1.6;
  overflow-x: hidden;
  width: 100vw;
}
